<div>
  <h5>Growth factor</h5>
  <ngx-charts-line-chart *ngIf="data"
                         [curve]="curve"
                         [referenceLines]="[{ name: 'Growth line', value: 1 }]"
                         [showRefLabels]="true"
                         [showRefLines]="true"
                         [view]="view"
                         [customColors]="customColors"
                         [results]="data"
                         [xAxis]="true"
                         [yAxis]="true"
                         [legend]="false"
                         [showGridLines]="false">
  </ngx-charts-line-chart>
</div>

